/* Color Variables */
:root {
    --background-color: #FBFBFE; 
    --text-color: #000000; 
    --primary-color: #E17564; 
    --secondary-color: #ccc; 
    --hover-color: #d86453; /* Light Mode Hover Color */
}

/* Dark Mode Colors */
body.dark-mode {
    --background-color: #09122C;
    --text-color: #ffffff;
    --primary-color: #E17564;
    --secondary-color: #040813;
    --hover-color: #b75d4f; /* Dark Mode Hover Color */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Typography and Alignment */
h1 {
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Button Styling */
button, .category-button, .subject-button, #reshuffle-questions {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 15px 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

/* Category Buttons */
.category-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 230px;
}

.category-button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Subject Buttons */
.subject-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subject-button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Question & Answer Styles */
.question {
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.question:hover, .question:focus {
    background-color: var(--secondary-color);
}

.answer {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-left: 3px solid var(--primary-color);
    border-radius: 5px;
}

/* Flexbox Styling for Button Layout */
#questions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

/* Floating Buttons */
#floating-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

/* Reshuffle Button */
#reshuffle-questions {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reshuffle-questions:hover {
    background-color: var(--primary-color);
}

#reshuffle-questions .icon {
    font-size: 32px;
    transition: transform 0.3s ease;
}

#reshuffle-questions.spinning .icon {
    animation: spin 0.5s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

/* Keyframes for Spin Animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Reshuffle Button on Small Screens */
@media (max-width: 768px) {
    #reshuffle-questions .icon {
        font-size: 22px;
    }

    #reshuffle-questions {
        max-width: 40px;
        max-height: 40px;
        padding: 8px;
    }
}

/* Dark Mode Toggle */
.toggle {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    border-radius: 40px;
    transition: background-color 0.4s, box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.slider:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: var(--background-color);
    transition: transform 0.4s, box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Icons */
.slider .icon {
    font-size: 18px;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slider .sun {
    opacity: 1;
    transform: translateX(-4px);
}

.slider .moon {
    opacity: 0;
    transform: translateX(4px);
}

.toggle input:checked + .slider {
    background-color: var(--primary-color);
}

.toggle input:checked + .slider:before {
    transform: translateX(50px);
}

.toggle input:checked + .slider .sun {
    opacity: 0;
}

.toggle input:checked + .slider .moon {
    opacity: 1;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

/* For Firefox */
scrollbar {
    width: 18px;
}

scrollbar-track {
    background-color: var(--background-color);
    border-radius: 10px;
}

scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}
