/* Color Variables */
:root {
    --background-color: #FBFBFE;
    --text-color: #000000;
    --primary-color: #E17564;
    --secondary-color: #ccc;
    --hover-color: #d86453;
}

/* Dark Mode Colors */
body.dark-mode {
    --background-color: #09122C;
    --text-color: #ffffff;
    --primary-color: #E17564;
    --secondary-color: #040813;
    --hover-color: #b75d4f;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Button Styling */
.category-button, .subject-button {
    font-family: inherit;
    font-size: 1.5rem;

    margin: 10px 0;
    width: 100%;
    max-width: 250px;
    min-height: 230px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

#floating-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

#go-back-button {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#go-back-button:hover {
    background-color: var(--primary-color);
}

#go-back-button .icon {
    font-size: 32px;
    transform: translate(0px,-2px);
    transition: transform 0.3s ease;
}

.subject-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Category Buttons */
.category-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Subject Buttons */
.subject-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.subject-button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Flexbox Styling for Button Layout */
#questions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

/* Dark Mode Toggle */
.toggle {
    position: relative;
    display: inline-block;
    min-width: 90px;
    min-height: 40px;
    width: 90px;
    height: 40px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: background-color 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: var(--background-color);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
}

.slider .icon {
    font-size: 18px;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slider .sun {
    opacity: 1;
    transform: translateX(-4px);
}

.slider .moon {
    opacity: 0;
    transform: translateX(4px);
}

.toggle input:checked + .slider {
    background-color: var(--primary-color);
}

.toggle input:checked + .slider:before {
    transform: translateX(50px);
}

.toggle input:checked + .slider .sun {
    opacity: 0;
}

.toggle input:checked + .slider .moon {
    opacity: 1;
}
